body{
    background-color: lightgreen;
    position: absolute;
    margin: 0;
}

footer{
    background-color: green;
    height: 50px;
    width: 100vw;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
}

main{
    display: flex;
    flex-wrap: nowrap;
}

.board{
    min-width: 300px;
    max-width: 400px;
    height: 80vh;
    background-color: lightgrey;
    margin: 20px 0 20px 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4{
    padding: 0 30px;
    box-sizing: border-box;
    align-self: flex-start;
}

.card{
    width: 80%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

.card + .card{
    margin-top: 10px;
}

.card__info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.card__item{
    display: flex;
    justify-content: flex-start;
}

img{
    width: 12px;
    height: 12px;
}

img + img{
    margin-left: 20px;
}

.avatar{
    width: 35px;
    height: 35px;
}

