li{
    list-style: none;
}

.menu{
    height: 100px;
    width: 300px;
    font-size: 20px;
    padding: 10px 0 10px 10px;
    background-color: lightgray;
    
    
}

.menu a{
    letter-spacing: 0.2px;
    color: black;
    transition: 0.3s;
    text-decoration: none;
}

.menu:hover{
    background-color: gray;
}

img{
    height: 80px;
    vertical-align: middle;
}