.rectangle1{
    height: 100%;
    width: 50%;
    margin: 10px 10px 10px 10px;
    background-color:rgb(246, 150, 150);
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.rectangle2{
    height: fit-content;
    min-height: 40px;
    width: fit-content;
    background-color:rgb(147, 66, 66);
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}