.rectangle1{
    height: 100%;
    width: 50%;
    margin: 10px 10px 10px 10px;
    background-color:rgb(246, 150, 150);
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.rectangle2{
    width: fit-content;
    background-color:rgb(147, 66, 66);
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}

.rectangle3{
    background-color: rgb(189, 102, 102);
    padding-left: 10px;
}

li{
    list-style-position: inside;
    margin-top: 10px;
    position: relative;
    left: -20px;
}

