body{
    margin-top: 200px;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.door{
    height: 200px;
    width: 300px;
    background-color: brown;
    border: 3px solid darkred;
}

.wrap:hover > .left{
    transform: rotateY(60deg) translateX(-50px);
    transition: 2s;
}

.wrap:hover > .right{
    transform: rotateY(-60deg) translateX(50px);
    transition: 2s;
}

h1{
    position: absolute;
    z-index: -10;
}

