.rectangle{
    width: fit-content;
    min-width: 60px;
    height: 50px;
    background: rgb(188, 185, 185);
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    
}

p{
    padding-top: 60px;
    font-family: 'Courier New', Courier, sans-serif;
    font-size: 25px;
}

