body{
    /* font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff; */
    /* width: 96%; */
}

header{
    width: 100%;
    height:fit-content;
    padding: 15px;
    background-color: rgb(152, 63, 96);

}

.menu{
    width: 100%;
    height:fit-content;
    padding: 15px;
    background-color: rgb(110, 22, 54);
}

.content{
    margin: 10px 0;
}

aside{
    float: left;
    box-sizing: border-box;
    height: 300px;
}

.aside1{
    width: 20px;
    height: 100px;
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(127, 78, 95);
}

.aside2{
    width: 20px;
    height:100px;
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(127, 78, 95);
}

.aside3{
    width: 10px;
    height:300px;
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(127, 78, 95);
    
}

.main__content{
    width: 100px;
    height:300px;
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(127, 78, 95);
    float: right;
}

.section{
    height:80px;
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(190, 139, 159);
}

footer{
    width: 100%;
    height:fit-content;
    padding: 15px;
    background-color: rgb(110, 22, 54);
}