body{
    display: flex;
    height: 2000px;
    width: 96%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    overflow: visible;
}

.menu p{
    display: block;
    height: 50px;
    margin: 0;
    text-align: center;
    background-color: lightgray;
    letter-spacing: 0.2px;
    color: black;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.menu{
    height: 100vh;
    width: fit-content;
    background-color: lightgray;
    position: sticky;
    top: 0;
    left: 0;
    transition: 1s;
}

ul{
    padding-left: 0;
    margin: 0;
}

li{
    list-style: none;
    height: 100px;
    width: fit-content;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    
}

li a{
    letter-spacing: 0.2px;
    color: black;
    transition: 1s;
    text-decoration: none;
}

span{
    display: none;
    transition: 1s;
}

img{
    height: 80px;
    vertical-align: middle;
}

.menu:hover{
    width: 300px;
}

.menu:hover span{
    display: contents;
}

li:hover{
    background-color: gray;
    width: 300px;    
}



.text{
    height: 100%;
    margin-left: 200px;
    text-transform: uppercase;
    z-index: -100;
    position: absolute;
}